body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#111827;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:15px;
}

.hero{
  text-align:center;
  padding:100px 20px;
}
